{{extend 'layout.html'}}

<h1>Events</h1>

<h3>Photography Exhibition</h3>
<h4>10/9/19 18:00</h4>

<h3>Science Communication Pannel</h3>
<h4>11/9/19 18:30</h4>

<h3>Beer Festival</h3>
<h4>12/9/19 19:00</h4>

<!-- <center>
<br/>
<h1>Symposium activities</h1>
<br/>
</center>

<h3>Coming soon!</h2>
<br/>
<br/> -->
