{{extend 'layout.html'}}

<center>
<br/> 
<h1>Guidelines for presenters</h1>
<br/>
</center>

<h4><b>Duration:</b> Each talk will be 10 mins, followed by 5 mins for questions and turnover.</h4>

<h4><b>Uploading your talk:</b> Please upload your talk (e.g., on a usb memory stick) on the computer in the correct room (see presentation schedule in the drop down menu above) in the morning on the day of your presentation, during the first (AM) coffee break, or earlier. Put it in a directory on the desktop with the name of the session (e.g., "Behavioural_ecology") - the session chair will have already created the directory. Name the file meaningfully so that the talk is easy to locate in the file list (e.g., "Maya_Carmen_FrEECS2018.pdf")</h4>

<h4><b>Presentation software:</b> You may use Powerpoint, but keep in mind that the all ICL AV Computers run Windows, so if you make your talk on a Mac-based ppt or and older ppt version on any platform, it may not look or behave the way you intented it to. So you might want to test your talk on one of the college computers well in advance (not on the day of your talk!). PDF talks are always safe, so keep a pdf version habdy just in case. </h4>