{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        <img src="/freecsymp/static/images/Logo/FREEC_2019_White.png"
             alt="A good logo" width="300" >

        {{if response.title:}}
        <h1>{{=response.title or ''}}</h1>
          <h2><small>{{=response.subtitle or ''}}</small></h2>
        {{pass}}
      </div>
      <div id="cf2" style="float:center">
  <img style="margin-right:5px;margin-bottom:5px;" class="right" src="/freecsymp/static/images/Imperial_White_on_clear_background_logo.svg" width="200" vspace="0" hspace="0"/>
    </header>
{{end}}

<h3>
      The FrEEC Symposium is a three day, student-run event held annually at
      Imperial College's
      <a target="_blank" href="http://www.imperial.ac.uk/silwood-park/">Silwood
      Park Campus</a>. The event is co-organized by a committee of Masters and
      PhD students and aims to give students the opportunity to present and
      discuss their research at the cutting edge of ecology, evolution and
      conservation science. </h3>

      <h3>
      <!-- Please explore the schedule, session themes and keynote lectures by using the menu above. -->
</h3>

<h3> <b>
<center>
  <button type="button" class="btn btn-info btn-lg" onclick="location.href='{{=URL('default', 'registration')}}'">Register Here</button>
</center>
</b></h3>

<h3>
  For information on getting to Silwood Park please  <a href="https://www.imperial.ac.uk/silwood-park/find-us/"><b>visit this page</b></a>.
</h3>

<hr>

<center>
  <p>
  Department of Life Sciences (Silwood Park Campus),
    Imperial College London, Buckhurst Road, Ascot, Berks SL5 7PY, UK   &nbsp;&nbsp;&bull;&nbsp;&nbsp;   <a href="mailto:s.pawar@imperial.ac.uk" target="_top">Email us</a>
  </p>
  </center>
