{{extend 'layout.html'}}

<br/>
<h1>Keynote Speakers</h1>

<table class="table table-bordered table-hover table-condensed">
<thead>
    <tr>
        <th title="Field #2" width="250"></th>
        <th title="Field #3"></th>
    </tr>
</thead>
<tbody>
  <tr>

    <td>
    <h3>Samantha Hill - 10/9/19 9:15</h3> <br>
    <img src="/freecsymp/static/images/keynotes/2019/sam_hill.jpg" alt="Sam Hill" class="img-rounded center"/>
    </td>

    <td>I am a conservation ecologist who has worked in academia, government, private industry and conservation NGO's. ​I have recent publications in high level scientific journals such as Science and Nature as well as policy-relevant reports such as the IPBES Global Assessment of Biodiversity and Ecosystem Services, the Living Planet Report and the Protected Planet Report. I have led field-based conservation work, but my current research focuses on using models and scenarios to analyse global trends in biodiversity. I have been working on the PREDICTS project for the past seven years with ongoing interests in: the integration of PREDICTS with other global models and with scenarios of the future, agriculture and wild biodiversity, integrated biodiversity indicators for use by policymakers and private industry, the impacts of forest change on biodiversity, and anthropogenic impacts to freshwater biodiversity.
    </tr>

  <tr>

    <td>
    <h3>Charlotte Burns  - 11/9/19 13:00</h3> <br>
    <img src="/freecsymp/static/images/keynotes/2019/charlotte_burns.jpg" alt="Charlotte Burns" class="img-rounded center"/>
    </td>

    <td>Charlotte Burns is a Professorial Fellow in the Politics Department at the University of Sheffield. Her research is broadly concerned with analysing the impact of major shocks upon environmental policy. Her background is in the study of EU decision-making and EU environmental policy. She has since 2013 been working on the implications of Brexit for UK and EU environmental policy.   She has been a research leader on the UK in Changing Europe programme, leading a team analysing the impacts of Brexit upon UK and EU environmental policy, she is co-founder of the Brexit and Environment Network and is currently a co-investigator upon a Governance after Brexit grant that is reviewing the ways in the new post-Brexit agricultural support payment system can be co-designed.</td>
  </tr>

  <tr>

    <td>
    <h3>Gavin Thomas  - 12/9/19 9:15</h3> <br>
    <img src="/freecsymp/static/images/keynotes/2019/gavin_thomas.jpg" alt="Gavin Thomas" class="img-rounded center"/>
    </td>

    <td>Research in my lab focuses on modelling the diversification of species and traits at a macroevolutionary scale. Over the last 5 years we have been preoccupied with measuring bill shapes and plumage colours from the worlds birds using museum collections. We are particularly interested in how we can use information on the phylogenetic relationships among species and measurements of morphological trait to infer how present day biodiversity has arisen over time, asking questions such as how and why do lineages and traits diversify? And, what are the consequences of varying tempo and mode of lineage and trait evolution for temporal and spatial patterns of diversity? My interest in these questions combine interests from a background in palaeontology as an MSc student in Bristol, a PhD using phylogenetic comparative methods to understand shorebird breeding systems in Bath, postdocs in avian macroecology and phylogeny (University of Birmingham, Imperial College) and independent fellowships (NERC, URF) with increasing focus on macroevolutionary questions and methods.</td>
  </tr>

  <tr>

    <td>
    <h3>Gil McVean  - 12/9/19 13:00</h3> <br>
    <img src="/freecsymp/static/images/keynotes/2019/gil_mcvean.jpg" alt="Gil McVean" class="img-rounded center"/>
    </td>
        <td>Gil McVean is Professor of Statistical Genetics at the University of Oxford and Director of Oxford’s Big Data Institute within the Li Ka Shing Centre for Health Information and Discovery (www.bdi.ox.ac.uk).  His research focuses on understanding the molecular and evolutionary processes that shape genetic variation in populations and the relationship between genetic variation and phenotype. He has played a leading role in the HapMap and 1000 Genomes Projects, is co-founder of Genomics plc (www.genomicsplc.com), and currently works on the genomic analysis of organisms from humans to malaria.  His awards include the 2010 Francis Crick Prize Lecture from the Royal Society and the 2012 Weldon Memorial Prize.  He was elected to the Academy of Medical Sciences and the Royal Society in 2017.</td>
  </tr>


</tbody></table>

see previous speakers {{=A('here',_href=URL('default', 'keynotes_prev'))}}.
