{{extend 'layout.html'}}

<br/>
<h1>FrEESymp 2018 Keynote Speakers:</h1>
<br/>
</center>


<div class = "container">
  <div class="row">

    <div class="col-sm-4">
        <img src="/freecsymp/static/images/keynotes/2018/nick_lane.jpg" alt="Nick Lane" class="img-rounded center"/>
        <h2>Nick Lane</h2>
        <p> Nick Lane is Professor of Evolutionary Biochemistry in the Department
        of Genetics, Evolution and Environment at University College London.
        His research focuses on the way that energy flow has shaped evolution over
        4 billion years, using a mixture of theoretical and experimental work
        to address the origin of life, the evolution of complex cells and
        downright peculiar behaviour such as sex. His talk will focus on the
        bioenergetic basis for the three domains of life</p>
        <a href="http://nick-lane.net/"> Website </a>
    </div>

    <div class="col-sm-4">
        <img src="/freecsymp/static/images/keynotes/2018/elizabeth_jeffers.jpg" alt="Elizabeth Jeffers" class="img-rounded center"/>
        <h2>Elizabeth Jeffers</h2>
        <p>Elizabeth Jeffers is a lecturer at the University of Oxford and is part of both
        the Oxford Long Term Ecology Lab and the Mathematical Ecology Research Group. Her
        research looks at the intersection of palaeo-, ecosystem and community
        ecology to answer exciting and pressing questions about how terrestrial
        ecosystems cope with long-term climate and environmental change. She will
        talk about the use of palaeoecological data, highlighting examples
        of unexpected findings from analysis of the fossil record, describe
        their relevance for ecosystem
        management and identify new opportunities for collecting and integrating
        ecosystem data across time scales.</p>
        <a href="https://oxlel.zoo.ox.ac.uk/people/dr-elizabeth-jeffers"> Website </a>
    </div>

    <div class="col-sm-4">
        <img src="/freecsymp/static/images/keynotes/2018/brendan_godley.jpg" alt="Brendan Godley" class="img-rounded center"/>
        <h2>Brendan Godley</h2>
        <p>Brendan has been working on marine turtles for over twenty five years from
         countries as far apart as Cyprus, Cayman Islands, Ascension Island,
         Gabon and Brazil. He will overview his work using satellite telemetry
         to inform conservation. He will also share some the key lessons that he
         has learned in academia that he thinks might be worthy of note at a
         conference of young scientists.</p>
        <a href="http://biosciences.exeter.ac.uk/staff/index.php?web_id=brendan_godley"> Website </a>
    </div>

  </div>
</div>
