{{extend 'layout.html'}}

<center>
 <br/>
 <h1>Overall Program</h1>
 <br/>
 <h3>(<i>See {{=A('list of sessions here',_href=URL('default', 'sessions'))}}</i>) </h3>
</center>

<h3>

<hr align="center" width="90%">
<center><b> 10 September 2019</b></center>
</br> </br>
09:00 - 09:15 : Refreshments and Welcome - CPB Common room
</br> </br>
09:15 - 10:15 : Plenary Talk - Sam Hill  (UN-WCMC) - "<i> TBD</i> "- CPB Common room
</br> </br>
10:15 - 10:30 : Refreshment break - CPB Common room
</br> </br>
10:30 - 12:00 : Talks (concurrent sessions in CPB and Fisher + Haldane)
</br> </br>
12:00 - 13:00 : Lunch
</br> </br>
13:00 - 14:30 : Talks (two concurrent sessions in CPB and Fisher + Haldane)
</br> </br>
14:30 - 15:00 : Refreshment break - CPB Common room
</br> </br>
15:00 - 16:30 : Talks (concurrent sessions in CPB and Fisher + Haldane)
</br> </br>
18:00 - 19:30 : Photography Exhibition with Wine and cheese - CPB Common room
</br> </br>

<hr align="center" width="90%">
<center><b> 11 September 2019</b></center>
</br> </br>
10:00 - 10:30 : Refreshments and Welcome - CPB Common room</td>
</br> </br>
10:30 - 12:00 : Talks (concurrent sessions in CPB and Fisher + Haldane)
</br> </br>
12:00 - 13:00 : Lunch
</br> </br>
13:00 - 14:00 : Plenary Talk - Charlotte Burns (University of Sheffield) - "<i>Brexit & the Environment: where to now?</i>" - CPB Common room
</br> </br>
14:00 - 15:30: Talks (concurrent sessions in CPB and Fisher + Haldane)
</br> </br>
15:30 - 16:00 : Refreshment break - CPB Common room
</br> </br>
16:00 - 17:30 : Talks (concurrent sessions in CPB and Fisher + Haldane)
</br> </br>
18:00 - 19:30 : Science Communication Panel - CPB Common Room
</br> </br>

<hr align="center" width="90%">
	<center><b> 12 September 2019</b></center>
</br> </br>
09:00 - 09:15 : Refreshments and Welcome - CPB Common room</td>
</br> </br>
09:15 - 10:15 : Plenary Talk - Gavin Thomas (University of Sheffield) -"<i>QQuantum leaps to stranger things: Mega- and macroevolutionary dynamics of the diversification of birds</i>" - CPB Common room
</br> </br>
10:15 - 10:30 : Refreshment break - CPB Common room
</br> </br>
10:30 - 12:00 : Talks (concurrent sessions in CPB and Fisher + Haldane)
</br> </br>
12:00 - 13:00 : Lunch
</br> </br>
13:00 - 14:00 : Plenary Talk - Gil McVean (University of Oxford) - "<i>The Ancestry of Everyone</i>" - CPB Common room
</br> </br>
14:00 - 15:30: Talks (concurrent sessions in CPB and Fisher + Haldane)
</br> </br>
15:30 - 16:00 : Refreshment break - CPB Common room
</br> </br>
16:00 - 17:30 : Talks (concurrent sessions in CPB and Fisher + Haldane)
</br> </br>
18:00 - 20:00 : Beer festival
</br> </br>

</h3>

<!-- <h4>(<i>See list of sessions {{=A('here',_href=URL('default', 'sessions'))}}</i>) </h4> -->
