{{extend 'layout.html'}}
<center>
<h1>Registration</h1>
<br/>
<!-- <h4>Please fill out the following form to register for the FrEEC Symposium:</h4> </center>
<br/> -->
 <div class="row">
  <div class="col-sm-1.5"></div>
  <div class="col-sm-9">
    {{=form}}
    <!-- <h2>Submitted Fields:</h2>
    {{=BEAUTIFY(request.vars)}} -->
  </div>
  <div class="col-sm-1.5"></div>
</div>