{{extend 'layout.html'}}

<center>
<br/>
<h1>Session Themes</h1>
<br/>
<h4>(<i>The schedule of talks within each session can be found on the {{=A(' searchable presentations page',_href=URL('default', 'talks'))}}</i>) </h4>

<table class="table table-bordered table-hover table-condensed">
<thead><tr><th title="Field #2">name</th>
<th title="Field #3">location</th>
<th title="Field #4">day</th>
<th title="Field #5">chair</th>
<th title="Field #6">Time</th>
</tr></thead>
<tbody>
	<tr>
		<td>Disturbance and Ecological change I</td>
		<td>Fisher</td>
		<td>10/09/2019</td>
		<td>Ana Ramos Rodrigues</td>
		<td>10:30 - 11:30</td>
	</tr>
	<tr>
		<td>Behavioural ecology I</td>
		<td>Haldane</td>
		<td>10/09/2019</td>
		<td>Danny Kenna</td>
		<td>10:30 - 12:00</td>
	</tr>
	<tr>
		<td>Ecological monitoring I</td>
		<td>CPB Common Room</td>
		<td>10/09/2019</td>
		<td>Ross Gray</td>
		<td>10:30 - 12:00</td>
	</tr>
	<tr>
		<td>Modelling, Data, Theory</td>
		<td>Fisher</td>
		<td>10/09/2019</td>
		<td>Tom Clegg</td>
		<td>13:00 - 14:15</td>
	</tr>
	<tr>
		<td>Behavioural ecology II</td>
		<td>Haldane</td>
		<td>10/09/2019</td>
		<td>Danny Kenna</td>
		<td>13:00 - 14:30</td>
	</tr>
	<tr>
		<td>Ecological monitoring II</td>
		<td>CPB Common Room</td>
		<td>10/09/2019</td>
		<td>Hsi-Cheng Ho</td>
		<td>13:00 - 14:30</td>
	</tr>
	<tr>
		<td>Populations to Communities</td>
		<td>CPB Common Room</td>
		<td>10/09/2019</td>
		<td>Paula Vargas</td>
		<td>15:00 - 16:15</td>
	</tr>
	<tr>
		<td>Ecosystems</td>
		<td>Haldane</td>
		<td>10/09/2019</td>
		<td>Lucas Dias Fernandes</td>
		<td>15:00 - 16:30</td>
	</tr>
	<tr>
		<td>Conservation Biology I</td>
		<td>Haldane</td>
		<td>11/09/2019</td>
		<td>Morena Mills</td>
		<td>10:30 - 12:00</td>
	</tr>
	<tr>
		<td>Disturbance and Ecological change II</td>
		<td>CPB Common Room</td>
		<td>11/09/2019</td>
		<td>Samraat Pawar</td>
		<td>10:30 - 12:00</td>
	</tr>
	<tr>
		<td>Conservation Biology II</td>
		<td>Haldane</td>
		<td>11/09/2019</td>
		<td>Paula Vargas</td>
		<td>14:00 - 15:30</td>
	</tr>
	<tr>
		<td>Disturbance and Ecological change III</td>
		<td>CPB Common Room</td>
		<td>11/09/2019</td>
		<td>Samraat Pawar</td>
		<td>14:00 - 15:30</td>
	</tr>
	<tr>
		<td>Disturbance and Ecological change IV</td>
		<td>CPB Common Room</td>
		<td>11/09/2019</td>
		<td>Samraat Pawar</td>
		<td>16:00 - 17:15</td>
	</tr>
	<tr>
		<td>Conservation Biology III</td>
		<td>Haldane</td>
		<td>11/09/2019</td>
		<td>Andrew Knight</td>
		<td>16:00 - 17:30</td>
	</tr>
	<tr>
		<td>Autecology</td>
		<td>CPB Common Room</td>
		<td>12/09/2019</td>
		<td>Elise Damstra</td>
		<td>10:30 - 14:30</td>
	</tr>
	<tr>
		<td>Evolution</td>
		<td>Haldane</td>
		<td>12/09/2019</td>
		<td>Katie Willis</td>
		<td>10:30 - 15:00</td>
	</tr>
	<tr>
		<td>Conservation Ecology</td>
		<td>CPB Common Room</td>
		<td>12/09/2019</td>
		<td>Marie Russel</td>
		<td>14:30 - 17:00</td>
	</tr>
	<tr>
		<td>Disturbance and Ecological change V</td>
		<td>CPB Common Room</td>
		<td>12/09/2019</td>
		<td>Ross Gray</td>
		<td>14:45 - 16:45</td>
	</tr>
	<tr>
		<td>Microbial ecology</td>
		<td>Haldane</td>
		<td>12/09/2019</td>
		<td>Emma Cavan</td>
		<td>15:00 - 16:30</td>
	</tr>
	<tr>
		<td>Plant functional traits</td>
		<td>Haldane</td>
		<td>12/09/2019</td>
		<td>Tom Smith</td>
		<td>16:30 - 17:15</td>
	</tr>
</tbody></table>
