{{extend 'freec_layout.html'}}

<center>
<br/>
<h1>Presentation Schedule</h1>
</center>
<h3>Please search to filter by speaker, session, date, etc below. You can also sort by columns (just click on the column's name)).</h3>

<h3>You can also download the whole schedule in pdf by <a href="https://drive.google.com/file/d/1oSPGZdQ8YsK2UvgvyrGC9M2AbSxrIqNc/view?usp=sharing"><i>clicking here</i></a> </h3>

<br/>
<br/>

{{=form}}
