{{extend 'layout.html'}}

<!-- <div align="right" style="float:right">>
<p> Are you <a href = {{=URL('add_team_member')}}>missing from this page?</a> </p>
</div> -->

<center>
<h1>The FrEEC Symposium Committee:</h1>
</center>

<table class = "table">
  {{for row in rows:}}
		<tr>
			<td> 
			<hr align="center" width="90%">
			<img src="{{=URL('default', 'download', args=row.photo)}}" width="150" ALIGN=LEFT hspace="20">
				<div style="float:center">
					<h4> 
					<big><b>{{=row.first_name}} {{=row.last_name}}</b></big>
						<medium>

						({{=row.role}})

						</br></br> <a href="mailto:{{=row.email}}" >Email</a>

						{{if not row.weblink in set([None,'']):}}
						</br></br> <a href="{{=row.weblink}}" >Website</a>
						{{pass}}

						{{if not row.twitter_link in set([None,'']):}}
						</br></br> <a href="{{=row.twitter_link}}" ><img title="go to my twitter" src="/pawarlab/static/images/logos/twitter.svg" class="logo" width = "20"/></a>
						{{pass}}

						{{if not row.facebook_link in set([None,'']):}}
						</br></br> <a href="{{=row.facebook_link}}" ><img title="go to my facebook" src="/pawarlab/static/images/logos/facebook.svg" class="logo" width = "20"/></a>
						{{pass}}
						
					</medium>
				</h4>
				</div>
			</td>
		</tr>
	{{pass}}
</table>